<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.timsm.demo.mapper.UserMapper">
    <select id="findUserByIdAndPass" parameterType="com.timsm.demo.dto.LoginRequestDTO" resultType="com.timsm.demo.dto.LoginResponseDTO">
        SELECT u.USER_ID
             , u.USER_NAME
             , e.EMP_NO
             , e.KOR_NM
             , e.CORP_CD
             , e.DEPT_CD
        FROM   CM_USERS u
        LEFT JOIN A_EMPLOYEE e ON e.EMP_NO = u.USER_ID
        WHERE  u.USER_ID   = #{userId}
        AND    u.USER_PASS = #{userPass}
    </select>
</mapper>